body {
    background-color: #f6f7f8;
    font-family: 'inter', sans-serif;
    margin: 0;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

p {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

input {
    border: none;
    width: 400px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
}

.head-row {
    display: flex;
    width: 100vw;
}

.join-logo {
    width: 100px;
    margin-top: 30px;
    margin-left: 30px;
    object-fit: contain;
}

.login-content {
    display: flex;
    justify-content: center;
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.sign-up-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    color: white;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.log-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 750px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.arrow-blue {
    cursor: pointer;
}

.arrow-div {
    display: flex;
    justify-content: start;
    width: 700px;
}

.log-in-input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #d1d1d1;
    padding: 5px 15px;
    border-radius: 10px;
    width: 422px;
}

.log-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 265px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}



@media (max-width: 1000px) {

    h1 {
        font-size: 50px;
    }

    .log-in-container {
        width: 600px;
    }

    .arrow-div {
        width: 550px;
    }

    .log-in-input {
        width: 380px;
    }

    .p-container {
        width: 400px;
    }
}

@media (max-width: 800px) {

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    .log-in-container {
        width: 400px;
        /* height: 500px; */
        gap: 20px;
    }

    .arrow-div {
        width: 350px;
    }

    .log-in-input {
        width: 380px;
    }

    .login-content {
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .p-container {
        width: unset;
    }

    .arrow-div {
        width: 275px;
    }

    .log-in-container {
        width: 320px;
        /* height: 510px; */
        gap: 15px;
        padding-bottom: 70px;
    }

    .log-in {
        margin-top: -45px;
    }

    .log-in-input {
        width: 300px;
    }

    .login-content {
        height: unset;
    }

    .head-row {
        height: 100px;
    }
}