/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    background-color: #f6f7f8;
    font-family: 'inter', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

header {
    width: 100vw;
    height: 200px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

p {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

input {
    border: none;
    width: 400px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
}

.head-row {
    width: 100vw;
}

.join-logo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
    height: 120px;
    -o-object-fit: contain;
       object-fit: contain;
}

.log-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
}

.login-content {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.log-in-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 750px;
    height: 600px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.arrow-blue {
    cursor: pointer;
}

.arrow-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 700px;
}

.log-in-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #d1d1d1;
    padding: 5px 15px;
    border-radius: 10px;
    width: 422px;
}

.log-in-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 265px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

@media (max-width: 1100px) {

    h1 {
        font-size: 50px;
    }

    .log-in-container {
        width: 600px;
        height: 650px;
        margin-top: 50px;
    }

    .arrow-div {
        width: 550px;
    }

    .log-in-input {
        width: 380px;
    }

    .p-container {
        width: 400px;
    }
}

@media (max-width: 800px) {
    .join-logo {
        width: 80px;
        height: 90px;
    }

    .log-in-container {
        width: 450px;
        margin-top: 80px;
    }

    .arrow-div {
        width: 400px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .p-container {
        width: unset;
    }

    .arrow-div {
        width: 275px;
    }

    .log-in-container {
        width: 320px;
        height: 510px;
        gap: 15px;
    }

    .log-in {
        margin-top: -45px;
    }

    .log-in-input {
        width: 300px;
    }

    .login-content {
        height: unset;
    }

    .head-row {
        height: 100px;
    }
}