/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@media (max-width: 1600px) {
    .full-container {
        width: 1000px !important;
        left: -160px !important;
    }

    .left-container {
        -webkit-box-pack: space-evenly !important;
            -ms-flex-pack: space-evenly !important;
                justify-content: space-evenly !important;
        gap: 0 !important;
        padding-left: 25px;
    }

    .left-container h1 {
        font-size: 60px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .x-container {
        position: relative !important;
        left: 580px !important;
        top: -265px !important;
        cursor: pointer;
        font-size: 20px !important;
    }

    .blue-bar {
        margin-top: -50px !important;
    }

    .join-logo-add {
        position: unset !important;
    }

    .right-container {
        width: unset !important;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: row !important;
                flex-direction: row !important;
        -webkit-box-align: center !important;
            -ms-flex-align: center !important;
                align-items: center !important;
    }

    .input {
        position: unset !important;
        padding-top: 40px !important;
        padding-right: 20px !important;
        width: unset !important;
    }

    .img-container {
        position: unset !important;
        -webkit-box-orient: unset !important;
        -webkit-box-direction: unset !important;
            -ms-flex-direction: unset !important;
                flex-direction: unset !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .left-container span {
        font-size: 25px !important;
    }
}


@media (max-width: 1450px) {
    .full-container {
        left: 0 !important;
        top: 20px !important;
        width: 800px !important;
        height: 1000px !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
    }

    .left-container {
        width: unset !important;
        padding-top: 20px !important;
        display: block !important;
        padding-bottom: 30px !important;
        border-radius: 30px 30px 0px 0px !important;
    }

    .left-container h1 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .blue-bar {
        display: none !important;
    }

    .headline-index-contact {
        left: 670px;
        top: 130px;
    }

    .x-container {
        top: 20px !important;
        left: 330px !important;
        font-size: 25px !important;
    }

    .right-container {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
    }
}


@media (max-width: 1250px) {
    .full-container {
        width: 670px !important;
    }

    .x-container {
        top: 30px !important;
        left: 290px !important;
    }
}


@media (max-width: 1200px) {
    .full-container {
        left: 50px !important;
    }

    .headline-index-contact {
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset;
        left: 600px;
    }

    .x-container {
        left: 300px !important;
    }

    .input {
        padding-right: 0 !important;
    }
}


@media (max-width: 600px) {
    .headline-index-contact {
        display: none;
    }

    .full-container {
        width: 375px !important;
        padding-bottom: 30px !important;
        height: 930px !important;
    }

    .x-container {
        left: 150px !important;
    }

    .left-container {
        width: 350px !important;
        border-radius: 30px 30px 0 0 !important;
        padding-top: 50px !important;
        gap: 30px;
        padding-left: 25px !important;
    }

    .left-container h1 {
        font-size: 40px !important;
    }

    .left-container span {
        font-size: 28px;
    }

    .join-logo-add {
        width: 52px;
        height: 64px;
    }

    .right-container {
        width: 370px !important;
        border-radius: 0 0 30px 30px !important;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .log-in-input {
        width: 450px !important;
    }

    .x-container {
        right: -280px !important;
    }

    .edit-button {
        gap: 80px;
    }

    .cancel-x {
        width: 100vw;
        font-size: 23px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-right: 60px;
        padding-top: -5px;
        cursor: pointer;
    }

    .blue-bar {
        display: unset !important;
        margin-left: -320px;
        margin-bottom: -20px;
        width: 120px !important;
    }
}


@media (max-width: 400px) {


    .full-container {
        height: 820px !important;
    }

    .full-container {
        scale: 0.7;
    }

    .left-container {
        height: 215px !important;
        padding-top: 25px !important;
    }

    .input {
        gap: 13px !important;
        padding-top: 15px !important;
    }

    .img-container {
        width: 90px !important;
        height: 90px !important;
    }
}

@media (max-height: 900px) and (min-width: 400px) {
    .full-container {
        scale: 0.7;
    }
}